<div class="py-4">
  <h3 class="text-xl font-bold">Busca algún MAE</h3>
  <p class="text-md text-gray-600">Puedes buscar por nombre, matricula, materia o dias.</p>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <formly-form [form]="form" [fields]="fields" [model]="model"
                 class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-2"></formly-form>
    <a class="cursor-pointer text-sm text-gray-600" (click)="resetForm()">Limpiar formulario</a>
    <app-submit-button label="Buscar"></app-submit-button>
  </form>
</div>

<div class="columns-1 sm:columns-2 md:columns-3 lg:columns-4">
  <div class="bg-white rounded shadow p-2 my-2 h-fit break-inside-avoid-column cursor-pointer"  *ngFor="let peer of result">
    <a class="flex justify-center h-fit" routerLink="/student/profile/{{peer.uid}}" target="_blank">
      <img src="https://randomuser.me/api/portraits/lego/5.jpg" alt="profilePic" class="rounded-full h-14 w-14 my-auto">
      <div class="flex flex-col px-2">
        <h1 class="font-medium text-ellipsis">{{peer.name ?? 'MAE sin nombre'}}</h1>
        <h1 class="text-start text-sm text-gray-600">{{peer.career ?? 'MAE sin carrera'}}</h1>
        <div class="flex">
          <div class="text-white text-center rounded-full px-2 py-1 my-1 text-xs font-semibold" [class.bg-green-500]="peer.weekSchedule" [class.bg-red-500]="!peer.weekSchedule">Horario</div>
          <div class="bg-green-500 text-white text-center rounded-full px-2 py-1 my-1 text-xs font-semibold" [class.bg-green-500]="peer.subjects" [class.bg-red-500]="!peer.subjects">Materias</div>
        </div>
        <div *ngIf="peer.activeSession">
          <a *ngIf="utilsService.isUrl(peer.activeSession?.location ?? '')" [href]="peer.activeSession!.location"
             target="_blank"
             class="my-auto text-start text-xs text-blue-600 underline decoration-blue-500">en este link</a>
          <h1 *ngIf="!utilsService.isUrl(peer.activeSession?.location ?? '')" class="my-auto text-start text-xs text-gray-600">
            en {{peer.activeSession.location}}</h1>

          <h1 class="my-auto text-start text-xs text-gray-600">
            Desde {{peer.activeSession.startTime.toDate() | date: 'hh:mm'}}</h1>
        </div>
      </div>
    </a>
    <div class="flex flex-row py-2">
      <a class="mx-auto border-2 border-indigo-800 rounded-md px-2 py-1 text-indigo-800 cursor-pointer hidden">Reportar</a>
    </div>

  </div>
</div>



