<div class="bg-gray-800 bottom-0">
  <div class="max-w-6xl mx-auto pt-10 pb-5 px-4">
    <div class="grid md:grid-cols-5 grid-cols-2 text-white">
      <div class="md:col-span-4 col-span-1">
        <p class="text-2xl font-bold">maes.<span class="text-indigo-400">mx</span></p>
        <a class="text-sm hover:underline transition-all" href="assets/AvisoPrivacidadMaesMx.pdf" target="_blank">Aviso de privacidad</a>
      </div>
      <div class="col-span-1 text-end mt-auto">
        <p class="text-sm">Desarrollado con <span class="text-red-400">♡</span> </p>
        <p class="text-xs text-gray-400">Por Juan Pablo Vargas</p>
      </div>
    </div>
  </div>
</div>
