<div>
  <label [for]="field.id" class="block text-sm font-medium text-gray-700"> {{field.templateOptions.label}} </label>
  <div class="mt-1">
    <textarea [name]="field.name" [formControl]="formControl" [formlyAttributes]="field" rows="3" class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 mt-1 block w-full sm:text-sm border border-gray-300 rounded-md"></textarea>
    <p *ngIf="field.templateOptions.description" class="mt-2 text-sm text-gray-500">{{field.templateOptions.description}}</p>
  </div>
</div>
