<app-modal [open]="peerInfo?.location == undefined || peerInfo?.activeSession == undefined" [canClose]="false"
           title="Listo para recibir alumnos?"
           body="Por favor indica donde te encuentras y presiona el boton para continuar">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div>
      <formly-form class="pr-6" [form]="form" [fields]="fields" [model]="model"></formly-form>
      <app-submit-button label="Iniciar"></app-submit-button>
    </div>
  </form>
  <div>
    <p class="text-sm text-gray-800">Si solo quieres cambiar tu horario:</p>
    <button routerLink="subjects" class="px-2 py-1 text-purple-800 rounded border-purple-800 border text-md mr-1 hover:bg-purple-800 hover:text-white transition-all shadow-sm shadow-purple-300">Materias</button>
    <button routerLink="schedule" class="px-2 py-1 text-purple-800 rounded border-purple-800 border text-md mx-1 hover:bg-purple-800 hover:text-white transition-all shadow-sm shadow-purple-300">Horario</button>
  </div>
</app-modal>
