<h1 class="text-2xl font-bold">Conuslta los horarios de los MAE</h1>
<p class="text-md text-gray-600">Busca la materia y dia en que buscas ayuda y revisa los horarios disponibles.</p>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <formly-form [form]="form" [fields]="fields" [model]="model"></formly-form>
  <app-submit-button label="Buscar"></app-submit-button>
</form>

<div *ngIf="schedules !== null">
  <div class="bg-white p-4 rounded-md my-2" *ngFor="let schedule of schedules">
    <div class="flex flex-col">
      <a class="text-xl font-bold hover:text-indigo-800 cursor-pointer transition-all" routerLink="/student/profile/{{schedule.userInfo.uid}}">{{schedule.userInfo.name}}</a>
      <p class="text-xs text-gray-600">{{schedule.userInfo.career}} - {{schedule.userInfo.campus}}</p>
      <p class="text-xs text-gray-600">Los {{utilsService.weekDayToDay(schedule.day)}} en horario de:</p>
      <div class="flex flex-row flex-wrap">
        <div *ngFor="let hour of schedule.hours">
          <p class="px-4 py-2 mr-2 my-2 text-white bg-green-600 rounded">{{translateHour(hour)}}</p>
        </div>
      </div>

    </div>
  </div>

  <div class="text-center w-full bg-white rounded-md p-4"
       *ngIf="schedules && schedules.length == 0">
    <h1 class="text-2xl my-1">
      No hay horarios disponibles :(
    </h1>
    <p class="text-md text-gray-600 my-1">
      En ocasiones una materia se puede parecer mucho a otra. Te recomendamos buscar materias similares.
    </p>
    <p class="text-md text-gray-600 my-1">
      Puedes enviarnos una solicitud o revisar quienes están en linea entrando a la siguiente página
    </p>
    <button routerLink="/student/home" class="my-2 px-4 py-2 rounded-md bg-indigo-700 text-white">Ver MAE en linea</button>

  </div>

</div>
