<!-- Announcements -->
<p class="text-lg font-bold md:text-2xl py-2">Avisos</p>
<!-- <div class="columns-1 sm:columns-2 md:columns-3 lg:columns-4">
  <img
    class="w-96 mx-auto py-4"
    [src]="announcement.url"
    *ngFor="let announcement of announcement$ | async"
  />
</div> -->

<div class="overflow-y-auto max-h-44 drop-shadow-md">
  <ul
    *ngIf="anouncements.length > 0; else noAnnouncements"
    class="divide-y divide-indigo-100 p-2 rounded-md bg-indigo-50"
  >
    <li
      *ngFor="let announcement of anouncements"
      class="py-1 hover:bg-indigo-100 transition ease-in-out cursor-pointer pl-1 rounded-md"
    >
      <a (click)="selectAnnouncement(announcement)" target="_blank">
        <div class="flex items-center space-x-4">
          <div class="flex-1 min-w-0">
            <p class="text-sm font-medium text-gray-900 truncate">
              {{ announcement.title }}
            </p>
            <p class="text-sm text-gray-700 truncate">
              {{ announcement.subject }}
            </p>
          </div>
          <div
            class="inline-flex items-center text-base font-semibold text-gray-900"
          >
            {{ announcement.endDate.toDate().toLocaleDateString("es-mexico") }}
          </div>
        </div>
      </a>
    </li>
  </ul>
  <ng-template #noAnnouncements>
    <div class="p-2 rounded-md bg-indigo-50">
      <p class="text-center">Espera nuevos avisos pronto...</p>
    </div>
  </ng-template>
</div>

<app-modal
  [title]="selectedAnnouncement.title"
  body=""
  [canClose]="true"
  closeBtnText="Cerrar"
  [open]="open"
  (onClose)="open = false"
>
  <p class="my-2 text-gray-700">
    {{ selectedAnnouncement.subject }}
  </p>

  <img
    class="h-96 mb-2 mx-auto"
    [src]="selectedAnnouncement.url"
    alt="announcement url"
  />

  <p class="mt-2 font-bold text-gray-700">
    Fecha:
    {{ selectedAnnouncement.endDate.toDate().toLocaleDateString("es-MX") }} - {{ selectedAnnouncement.endDate.toDate().toLocaleTimeString("es-MX") }}
  </p>
  
  <hr class="my-2" />

  <p class="font-medium text-indigo-900">Preregistro</p>
  <form [formGroup]="form" (ngSubmit)="onSubmit(model!)" class="py-2">
    <formly-form
      class="pr-6"
      [form]="form"
      [fields]="fields"
      [model]="model"
    ></formly-form>
    <app-submit-button label="Completar preregistro"></app-submit-button>
  </form>
  
  <hr class="my-2" />

  <p *ngIf="selectedAnnouncement.endDate.toDate().getDate() === today.getDate(); else todayBlock">El día de la sesión podrás registrarte en <a
      (click)="registerAssistance(selectedAnnouncement.id)" class="text-indigo-600 underline"
      href="/student/announcement/{{selectedAnnouncement.id}}" target="_blank" rel="noreferrer noopener">este enlace</a>.
  </p>
  <ng-template #todayBlock>
    <p>El día de la sesión podrás registrarte en <span class="text-gray-500">este enlace (inactivo)</span>.</p>
  </ng-template>
  <!-- <p class="font-thin text-sm">Para nosotros es importante contabilizar el número de personas que atienden a la sesión,
    por lo tanto te pedimos acceder al enlace desde esta página, ya que de otro modo no se contabiliza la asesoría.</p> -->

</app-modal>
