<div *ngIf="user$ | async as user" class="py-5">
  <div class="flex justify-between">
    <div class="flex">
      <img [src]="user.photoURL ?? 'https://randomuser.me/api/portraits/lego/5.jpg'" class="w-32 h-32 rounded-full"
        alt="">
      <div class="flex-row px-4 self-center">
        <h2 class="text-3xl font-bold">{{user.name}}</h2>
        <p class="text-md">{{user.career}} de campus {{user.campus}}</p>
        <p class="rounded-full bg-gray-700 text-white py-0.5 px-2 my-0.5 text-xs w-fit"
          [class.bg-purple-700]="user.role == 'coordi'" [class.bg-indigo-700]="user.role == 'mae'">{{user.role}}</p>
      </div>
    </div>
    <div class="order-last self-center">
      <button
        *ngIf="user.uid !== currentUser.uid"
        class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
        (click)="registerRequestForm = !registerRequestForm"
        >
        Registrar asesoría
      </button>
    </div>
  </div>

  <div class="py-5" *ngIf="user.subjects">
    <h3 class="text-2xl font-bold mb-0">Materias</h3>
    <span class="text-sm font-normal underline cursor-pointer" *ngIf="showSubjects"
      (click)="showSubjects = false">ocultar</span>
    <span class="text-sm font-normal underline cursor-pointer" *ngIf="!showSubjects"
      (click)="showSubjects = true">mostrar</span>
    <form [formGroup]="form" (ngSubmit)="filter()" class="py-2" *ngIf="showSubjects">
      <formly-form [form]="form" [fields]="fields" [model]="model" (modelChange)="filter()"></formly-form>
    </form>

    <div class="columns-1 sm:columns-2 md:columns-3 lg:columns-4" *ngIf="showSubjects">
      <div *ngFor="let subject of user.subjects">
        <div class="p-1 break-inside-avoid-column">
          <p [class.text-green-700]="filter().includes(subject.name)"
            [class.animate-pulse]="filter().includes(subject.name)">{{subject.name}}</p>
        </div>
      </div>
    </div>
  </div>


  <div class="py-5" *ngIf="user.weekSchedule">
    <h3 class="text-2xl font-bold mb-0">Horario</h3>
    <span class="text-sm font-normal underline cursor-pointer" *ngIf="showSchedule"
      (click)="showSchedule = false">ocultar</span>
    <span class="text-sm font-normal underline cursor-pointer" *ngIf="!showSchedule"
      (click)="showSchedule = true">mostrar</span>
    <div class="grid grid-cols-5 gap-2 h-fit" *ngIf="showSchedule">
      <div *ngFor="let day of weekdays">
        <div>
          <p class="text-sm md:text-xl">{{utils.weekDayToDay(day)}}</p>
          <div *ngFor="let hour of hours"
            class="bg-gray-100 py-2 px-1 text-sm md:text-md md:font-bold text-center rounded-md my-2 mx-1"
            [class.bg-green-500]="hasHourInWeekSchedule(day, hour) "
            [class.text-white]="hasHourInWeekSchedule(day, hour) ">
            <p class="cursor-default">{{utils.hourToString(hour)}}</p>
          </div>
        </div>

      </div>
    </div>
  </div>

  <register-request-modal [mae]="user" [open]="registerRequestForm"></register-request-modal>

</div>