<div class="w-full sticky top-0 backdrop-blur-md">
  <div class="max-w-6xl mx-auto flex px-4 md:px-0">
    <a routerLink="/admin" class="hover:cursor-pointer hover:text-blue-800 transition-all py-2 px-4 pl-0 text-md text-gray-800 font-bold">
      Inicio
    </a>
    <a routerLink="/admin/users" class="hover:cursor-pointer hover:text-blue-800 transition-all py-2 px-4 text-md text-gray-800 font-bold">
      Usuarios
    </a>
    <a routerLink="/admin/requests" class="hover:cursor-pointer hover:text-blue-800 transition-all py-2 px-4 text-md text-gray-800 font-bold">
      Asesorias
    </a>
    <a routerLink="/admin/announcements" class="hover:cursor-pointer hover:text-blue-800 transition-all py-2 px-4 text-md text-gray-800 font-bold">
      Anuncios
    </a>
    <a routerLink="/admin/events" class="hover:cursor-pointer hover:text-blue-800 transition-all py-2 px-4 text-md text-gray-800 font-bold">
      Eventos
    </a>

    <div class="mx-auto"></div>
    <a routerLink="/student/home" class="hover:text-gray-800 transition-all py-2 px-4 text-md text-red-900 font-bold">
      Salir admin
    </a>

  </div>
</div>
